/**************************************************/
/**************** GENERAL STYLING *****************/
/**************************************************/
body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
  font-size: 1rem;
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 2.5rem;
}

button.btn-primary {
	background-color: #387F9E;
}
button.btn-primary:hover {
	background-color: #276985;
}

div.container {
	margin: 2rem auto;
}

/**************************************************/
/****************** NEW ANALYSIS ******************/
/**************************************************/
/* New analysis content */
div#new-analysis-content div.container {
	max-width: 95%;
}

div#new-analysis-content h1 {
  margin-bottom: 1rem;
}

div#new-analysis-content div.form-group {
  width: 100%;
}

div#new-analysis-content form {
  width: 100%;
}

div.date-picker input {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

/* New analysis modal container */
div#new-analysis-modal {
	min-width: 85%;
}


/**************************************************/
/***************** ANALYSIS DETAIL ****************/
/**************************************************/

div#date-slider {
	width: 100%;
}

div#date-slider div.rangeslider {
	box-shadow: none;
}

div#date-slider div.rangeslider__fill {
	box-shadow: none;
	background-color: #387F9E;
}

div#date-slider div.rangeslider__handle {
	box-shadow: none;
}

div#date-slider div.rangeslider__handle:after {
	display: none;
}

div#date-slider div.rangeslider__handle-tooltip {
	padding: 0px 10px;
	width: 70px;
}

div#analysis-img {
	margin-top: 40px;
	width: 100%
}

div#analysis-img img {
	width: 100%;
}
